{{> header}}
{{> title}}
<section class="description">
<p>{{site.description}}</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptatibus iure nihil pariatur perspiciatis vitae, minima magni voluptas ab culpa.</p>
</section>
<section class="phases">
  <h2 class="cue">
    <span>The Phases</span>
    <p>Click on each phase to learn its description, main goal and possible deliverables</p>
  </h2>
{{> phases}}
</section>
<section>
  <h2>The projects</h2>
  <p>We chose three concepts to run against the methodology in order to test it. The early phases are easier to conceptualize, and we're always looking for experts in the field for a more robust research and ideation.</p>
  <div class="projects">
    <div class="project">
      <h3 class="title">exocortex macros</h3>
      <div class="description">
       <p>Augmented memory across all devices, with extensions.</p>
     </div>
     <div class="btn-group">
      <a class="btn" href="exocortex-framing" type="button">read framing</a>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">
      <p>Other phases appear here.</p>
      <p>Subscribe to our newsletter to be informed first.</p>
    </div>
  </div>
</div>
<div class="project">
  <h3 class="title">Object<br>Library</h3>
  <div class="description">
    <p>A digital shadow for physical objects, recording entire lifecycle, from cradle to grave.</p>
  </div>
  <div class="btn-group">
      <a class="btn" href="object-framing" type="button">read framing</a>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">
      <p>Other phases appear here.</p>
      <p>Subscribe to our newsletter to be informed first.</p>
    </div>
  </div>
</div>
<div class="project">
  <h3 class="title">Continuous Grading</h3>
  <div class="description">
    <p>A set of <strong>Travis CI</strong> tests measuring student grading criteria.</p>
  </div>
  <div class="btn-group">
      <a class="btn" href="grading-framing" type="button">read framing</a>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">
      <p>Other phases appear here.</p>
      <p>Subscribe to our newsletter to be informed first.</p>
    </div>
  </div>
</div>
</div>
</section>
<section class="mission">
  <h2>Our Mission</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam autem dicta, maiores cum nulla deserunt, eos laborum quam. Inventore.</p>
  <p>Suscipit asperiores quos, tempora nemo hic placeat, sit delectus quis architecto aliquid beatae deleniti voluptatibus quae culpa necessitatibus. Nobis, omnis.</p>
  <p>Voluptatum veritatis odio inventore praesentium culpa ducimus neque enim omnis quibusdam in, assumenda quaerat deleniti saepe illum vitae! Animi, recusandae!</p>
</section>
{{> team}}

<!-- <section class="cta">
  <h2>Stay in touch</h2>
  <p>newsletter, contact, twitter</p>
  <p>Fugiat tempora deserunt ea illo, eius aut ipsa odio. Perspiciatis itaque temporibus, commodi animi dolorem tenetur praesentium quas quam iure!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, sint. A officiis repellat aspernatur et fugit porro quas, hic voluptatum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate non ullam aliquid iusto amet consequatur iste itaque accusamus veritatis totam vitae est rerum, ab ea. Cum optio ipsum, dicta tenetur!</p>
</section> -->
{{> footer}}
{{> js}}