{{> header}}
{{> title}}

<section class="description">
<p>{{site.description}}</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptatibus iure nihil pariatur perspiciatis vitae, minima magni voluptas ab culpa.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus minus deserunt quidem, qui earum accusamus quod voluptatem dolor cumque quia iste sit blanditiis nulla modi voluptatibus? Nihil ea similique quae.</p>
</section>
<section class="phases">
  <h2>The Phases</h2>



  <div class="method">
<div class="diagram">
    <div class="phase framing">
<a href="#phase0" data-toggle="tab"></a>
</div>
    <div class="phase research">
      <a href="#phase1" data-toggle="tab"></a>
    </div>
    <div class="phase ideation">
      <div class="arrow"></div>
      <a  href="#phase2" data-toggle="tab"></a>
      <div class="arrow curve"></div>
      <a  href="#phase3" data-toggle="tab" class="feedback"></a>
      <div class="arrow feedback"></div>
    </div>
        <div class="phase flow">
      <div class="arrow"></div>
      <a  href="#phase4" data-toggle="tab"></a>
      <div class="arrow curve"></div>
      <a  href="#phase5" data-toggle="tab" class="feedback"></a>
      <div class="arrow feedback"></div>
    </div>
        <div class="phase module">
      <div class="arrow"></div>
      <a  href="#phase6" data-toggle="tab"></a>
      <div class="arrow curve"></div>
      <a  href="#phase7" data-toggle="tab" class="feedback"></a>
      <div class="arrow feedback"></div>
    </div>
            <div class="phase scope">
      <div class="arrow"></div>
      <a  class="feedback" href="#phase8" data-toggle="tab"></a>
    </div>
</div>
  <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade" id="phase0">
        <h3>Framing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum commodi itaque neque nostrum ab possimus quam tempore saepe voluptates.</p>
    </div>
    <div class="tab-pane fade" id="phase1">
      <h3>Research</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum commodi itaque neque nostrum ab possimus quam tempore saepe voluptates.</p>
    </div>
    <div class="tab-pane fade" id="phase2">
      <h3>Ideation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consectetur, repellat ullam magnam expedita itaque rerum quo, doloribus deserunt saepe facilis dignissimos quia reiciendis quae neque aperiam minima consequatur! Facilis.</p>
    </div>
    <div class="tab-pane fade" id="phase3">
      <h3>Feedback</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore cum commodi minima voluptates nemo officia.</p>
    </div>
        <div class="tab-pane fade" id="phase4">
          <h3>Flows</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum commodi itaque neque nostrum ab possimus quam tempore saepe voluptates.</p>
    </div>
    <div class="tab-pane fade" id="phase5">
      <h3>Feedback</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consectetur, repellat ullam magnam expedita itaque rerum quo, doloribus deserunt saepe facilis dignissimos quia reiciendis quae neque aperiam minima consequatur! Facilis.</p>
    </div>
    <div class="tab-pane fade" id="phase6">
      <h3>Modules</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore cum commodi minima voluptates nemo officia.</p>
    </div>
        <div class="tab-pane fade" id="phase7">
          <h3>Feedback</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde illum commodi itaque neque nostrum ab possimus quam tempore saepe voluptates.</p>
    </div>
    <div class="tab-pane fade" id="phase8">
      <h3>Design Overseeing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consectetur, repellat ullam magnam expedita itaque rerum quo, doloribus deserunt saepe facilis dignissimos quia reiciendis quae neque aperiam minima consequatur! Facilis.</p>
    </div>
  </div>

</div>
</section>
<section>
  <h2>The projects</h2>
  <div class="projects">
    <div class="project">
      <h3 class="title">exocortex macros</h3>
      <div class="description">
       <p>Augmented memory across all devices, with extensions.</p>
     </div>
     <div class="btn-group">
      <a class="btn" href="exocortex-framing" type="button">next: framing</a>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">
      <p>Other phases appear here.</p>
      <p>Subscribe to our newsletter to be informed first.</p>
    </div>
  </div>
</div>
<div class="project">
  <h3 class="title">Object<br>Library</h3>
  <div class="description">
    <p>A digital shadow for physical objects, recording entire lifecycle, from cradle to grave.</p>
  </div>
  <div class="btn-group">
      <a class="btn" href="object-framing" type="button">next: framing</a>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">
      <p>Other phases appear here.</p>
      <p>Subscribe to our newsletter to be informed first.</p>
    </div>
  </div>
</div>
<div class="project">
  <h3 class="title">continuous grading</h3>
  <div class="description">
    <p>A set of <strong>Travis CI</strong> tests measuring student grading criteria.</p>
  </div>
  <div class="btn-group">
      <a class="btn" href="grading-framing" type="button">next: framing</a>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">
      <p>Other phases appear here.</p>
      <p>Subscribe to our newsletter to be informed first.</p>
    </div>
  </div>
</div>
</div>
</section><section class="mission">
  <h2>Our Mission</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam autem dicta, maiores cum nulla deserunt, eos laborum quam. Inventore.</p>
  <p>Suscipit asperiores quos, tempora nemo hic placeat, sit delectus quis architecto aliquid beatae deleniti voluptatibus quae culpa necessitatibus. Nobis, omnis.</p>
  <p>Voluptatum veritatis odio inventore praesentium culpa ducimus neque enim omnis quibusdam in, assumenda quaerat deleniti saepe illum vitae! Animi, recusandae!</p>
</section>
<section class="cta">
  <h2>Stay in touch</h2>
  <p>newsletter, contact, twitter</p>
  <p>Fugiat tempora deserunt ea illo, eius aut ipsa odio. Perspiciatis itaque temporibus, commodi animi dolorem tenetur praesentium quas quam iure!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, sint. A officiis repellat aspernatur et fugit porro quas, hic voluptatum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate non ullam aliquid iusto amet consequatur iste itaque accusamus veritatis totam vitae est rerum, ab ea. Cum optio ipsum, dicta tenetur!</p>
</section>
{{> footer}}
{{> js}}