<footer class="footer">
  <div class="links">
    <!-- use %0D%0A for line breaks -->
    <a href="mailto:contact@designscope.org?subject=Design Scope"><i class="fa fa-envelope-o"></i>email</a>
    <a href="http://lazy8.social/@designscope_org"><i class="fa fa-mastodon"></i>mastodon</a>
    <a href="http://github.com/designscope"><i class="fa fa-github"></i>github</a>
    <a href="http://twitter.com/designscope_org"><i class="fa fa-twitter"></i>twitter</a>
    <a href="http://instagram.com/designscope_org"><i class="fa fa-instagram"></i>instagram</a>
  </div>
  {{> newsletter}}
</footer>