<footer class="footer">
    <div class="links">
        <a href="">Lorem.</a>
        <a href="">Esse.</a>
        <a href="">Veniam.</a>
        <a href="">Sequi.</a>


    </div>
    <form action="https://tinyletter.com/designscope" class="subscribe" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/designscope', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <h4>Join our newsletter</h4>
          <div class="btn-group">
    <input type="text" name="email" id="tlemail" placeholder="email" />
     <input type="hidden" value="1" name="embed"/><input class="btn" type="submit" value="Subscribe" />

  </div></form>
</footer>