<footer class="footer">
{{> subscribe-trigger}}
  <div class="links">
    <h4>Social Links</h4>
    <a href="mailto:contact@designscope.org?subject=Design Scope"><i class="fa fa-envelope-o"></i>email</a>
    <a href="http://lazy8.social/@designscope"><i class="fa fa-mastodon"></i>mastodon</a>
    <a href="http://github.com/designscope"><i class="fa fa-github"></i>github</a>
    <a href="http://twitter.com/design_scope"><i class="fa fa-twitter"></i>twitter</a>
    <a href="http://patreon.com/designscope"><i class="fa fa-patreon"></i>patreon</a>
  </div>
  <div class="other">
    <h4>Disclaimer</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dolorem cupiditate mollitia adipisci ipsam aut molestiae dolorum repellendus ad nulla?</p>

  </div>
</footer>