<div class="method">
  <div class="diagram">
    <div class="phase open framing">
      <a href="#phase-0" data-toggle="tab" class="simple">
        {{> phase-framing}}
      </a>
    </div>
    <div class="phase open research">
      <a href="#phase-1" data-toggle="tab" class="simple">
        {{> phase-research}}
      </a>
    </div>
    <div class="phase open ideation">
      <div class="arrow simple"></div>
      <div class="arrow curve"></div>
      <div class="arrow feedback"></div>
      <a href="#phase-2" data-toggle="tab" class="simple">
        {{> phase-ideation}}
      </a>
      <a href="#phase-3" data-toggle="tab" class="feedback">
        {{> phase-feedback}}
      </a>

    </div>
    <div class="phase open review feedback flow">
      <div class="arrow simple"></div>
      <div class="arrow curve"></div>
      <div class="arrow feedback"></div>
      <a href="#phase-4" data-toggle="tab" class="simple">
        {{> phase-flow}}
      </a>
      <a href="#phase-5" data-toggle="tab" class="feedback">
        {{> phase-feedback}}
      </a>
    </div>
    <div class="phase open review feedback module">
      <div class="arrow simple"></div>
      <div class="arrow curve"></div>
      <div class="arrow feedback"></div>
      <a href="#phase-6" data-toggle="tab" class="simple">
        {{> phase-modules}}
      </a>
      <a href="#phase-7" data-toggle="tab" class="feedback">
        {{> phase-feedback}}
      </a>
    </div>
    <div class="phase open review feedback scope">
      <div class="arrow simple"></div>
      <a class="feedback" href="#phase-8" data-toggle="tab" class="simple">
        {{> phase-scope}}
      </a>
    </div>
  </div>

<div id="myTabContent" class="tab-content">
   {{> phase
  id='0'
  name='Framing'
  description='pending'
  goals='pending'
  deliverables='pending'
  next-id='1'
  next-name='Research'
  }}
  {{> phase
    id='1'
  name='Research'
  description='pending'
  goals='pending'
  deliverables='user personas, data findings, competition findings'
  next-id='2'
  next-name='Ideation'
}}
  {{> phase
  id='2'
  name='Ideation'
  description='Designers brainstorm possible scenarios based off research, choosing the more relevant ones to present to the stakeholders.'
  goals='Get stakeholders&apos; approval on a course of action. Detect flows of approved scenario.'
  deliverables='diagrams, storyboards'
  next-id='3'
  next-name='Feedback'
}}
  {{> phase
    id='3'
  name='Scenario Feedback'
  goals='Stakeholders choose scenario to explore, suggesting tweaks.'
  next-id='4'
  next-name='Flows'
}}
  {{> phase
    id='4'
  name='Flows'
  description='Designers flesh out approved flows, visualizing user journey to stakeholders.'
  goals='Detect approved modules.'
  deliverables='from low-definition presentations (wireframes) to hi-definition ones:  prototypes (clickable or static), plus copy, images, branding.'
  next-id='5'
  next-name='Flow Feedback'
}}
  {{> phase
    id='5'
  name='Flow Feedback'
  goals='Approve or refuse flows, listing changes needed. Detect blockers in the organization: approval of copy, images, legal.'
  next-id='6'
  next-name='Modules'
}}
  {{> phase
    id='6'
  name='Modules'
  description='pending'
  goals='pending'
  deliverables='Design specs, pattern library updates, issues, stories and definition of success.'
  next-id='7'
  next-name='Feedback'
}}
  {{> phase
  id='7'
  name='Feedback'
  goals='pending'
  next-id='8'
  next-name='Quality Control'
}}
{{> phase
  id='8'
  name='Quality Control'
  description='From this phase on, workload shifts. Developers have approved scope to work on, and designers act as stakeholders, flagging deliverables that need more work.'
  goals='pending'
  deliverables='bug tracking, detailed specs, tweaks.'
}}
</div>

</div>