<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="phase-0">
    <div class="description">
      <h3>Framing</h3>
      <div class="content">
        <p>pending</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>pending</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>pending</p>
      </div>
    </div>
    <a href="#phase-1" class="next" data-toggle="tab">Research</a>
  </div>
  <div class="tab-pane fade" id="phase-1">
    <div class="description">
      <h3>Research</h3>
      <div class="content">
        <p>pending</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>pending</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>user personas, data findings, competition findings</p>
      </div>
    </div>
    <a href="#phase-2" class="next" data-toggle="tab">Ideation</a>
  </div>
  <div class="tab-pane fade" id="phase-2">
    <div class="description">
      <h3>Ideation</h3>
      <div class="content">
        <p>Designers brainstorm possible scenarios based off research, choosing the more relevant ones to present to the stakeholders.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Get stakeholders&amp;apos; approval on a course of action. Detect flows of approved scenario.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>diagrams, storyboards</p>
      </div>
    </div>
    <a href="#phase-3" class="next" data-toggle="tab">Scenario Feedback</a>
  </div>
  <div class="tab-pane fade" id="phase-3">
    <div class="description">
      <h3>Scenario Feedback</h3>
      <div class="content">
       <p>Stakeholders choose scenario to explore, suggesting tweaks.</p>
      </div>
    </div>


    <a href="#phase-4" class="next" data-toggle="tab">Flows</a>
  </div>
  <div class="tab-pane fade" id="phase-4">
    <div class="description">
      <h3>Flows</h3>
      <div class="content">
        <p>Designers flesh out approved flows, visualizing user journey to stakeholders.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Detect approved modules.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>from low-definition presentations (wireframes) to hi-definition ones: prototypes (clickable or static), plus copy, images, branding.</p>
      </div>
    </div>
    <a href="#phase-5" class="next" data-toggle="tab">Flow Feedback</a>
  </div>
  <div class="tab-pane fade" id="phase-5">
    <div class="description">
      <h3>Flow Feedback</h3>
      <div class="content">
        <p>Approve or refuse flows, listing changes needed. Detect blockers in the organization: approval of copy, images, legal.</p>
      </div>
    </div>

    <a href="#phase-6" class="next" data-toggle="tab">Modules</a>
  </div>
  <div class="tab-pane fade" id="phase-6">
    <div class="description">
      <h3>Modules</h3>
      <div class="content">
        <p>pending</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>pending</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Design specs, pattern library updates, issues, stories and definition of success.</p>
      </div>
    </div>
    <a href="#phase-7" class="next" data-toggle="tab" aria-expanded="false">Module Feedback</a>
  </div>
  <div class="tab-pane fade" id="phase-7">
    <div class="description">
      <h3>Module Feedback</h3>
      <div class="content">
      <p>pending</p>
      </div>
    </div>


    <a href="#phase-8" class="next" data-toggle="tab">Scope</a>
  </div>
  <div class="tab-pane fade" id="phase-8">
    <div class="description">
      <h3>Scope</h3>
      <div class="content">
        <p>From this phase on, workload shifts. Developers have approved scope to work on, and designers act as stakeholders, flagging deliverables that need more work.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>pending</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>bug tracking, detailed specs, tweaks.</p>
      </div>
    </div>
  </div>
</div>