

<div class="method">
  <div class="diagram">
    <div class="phase framing">
      <a href="#phase0" data-toggle="tab"></a>
    </div>
    <div class="phase research">
      <a href="#phase1" data-toggle="tab"></a>
    </div>
    <div class="phase ideation">
      <div class="arrow"></div>
      <a  href="#phase2" data-toggle="tab"></a>
      <div class="arrow curve"></div>
      <a  href="#phase3" data-toggle="tab" class="feedback"></a>
      <div class="arrow feedback"></div>
    </div>
    <div class="phase flow">
      <div class="arrow"></div>
      <a  href="#phase4" data-toggle="tab"></a>
      <div class="arrow curve"></div>
      <a  href="#phase5" data-toggle="tab" class="feedback"></a>
      <div class="arrow feedback"></div>
    </div>
    <div class="phase module">
      <div class="arrow"></div>
      <a  href="#phase6" data-toggle="tab"></a>
      <div class="arrow curve"></div>
      <a  href="#phase7" data-toggle="tab" class="feedback"></a>
      <div class="arrow feedback"></div>
    </div>
    <div class="phase scope">
      <div class="arrow"></div>
      <a  class="feedback" href="#phase8" data-toggle="tab"></a>
    </div>
  </div>
  <div id="myTabContent" class="tab-content">
   <div class="tab-pane fade" id="phase0">
    <div class="description">
      <h3>Framing</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptate perspiciatis iure quis illo obcaecati deserunt quas, quod nobis dolore sit consequuntur, vero, voluptatem delectus magnam quisquam dolorem itaque cupiditate.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, repudiandae.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quam possimus ab ratione tempora aliquid ipsa commodi sed iusto voluptate, omnis recusandae maiores, laboriosam, in odio laborum nam adipisci veniam?</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase1">
    <div class="description">
      <h3>Research</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui odit libero sed possimus repudiandae quae omnis rem cumque consequatur, doloremque optio adipisci saepe, voluptatum repellat? Ratione est, enim praesentium.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, vitae.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora dolore eos molestias sequi iste ex nisi, quis voluptas omnis ea quae recusandae labore quod impedit alias, ut vero ratione deleniti.</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase2">
    <div class="description">
      <h3>Ideation</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis maiores voluptates dicta. Repudiandae amet autem, optio, sed itaque doloremque tempora sint perspiciatis esse aliquid modi distinctio quis vitae dolore.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, officiis.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ducimus et ullam laboriosam dolor, ex assumenda quibusdam excepturi mollitia tenetur provident molestias aliquam, dolore quod esse eum totam accusamus quaerat!</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase3">
    <div class="description">
      <h3>Feedback</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quisquam eaque voluptatum reprehenderit sed rerum at quo obcaecati suscipit accusamus. Soluta labore ab fuga dolor debitis veritatis, molestias asperiores id.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, aliquid!</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, illo in quas esse tempora, officia reiciendis quibusdam perspiciatis quo eum fugiat ipsam voluptas doloremque dolor eos sint, doloribus culpa. Aliquid?</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase4">
    <div class="description">
      <h3>Flows</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ullam provident dignissimos labore consequatur animi omnis doloremque, tenetur repudiandae ex eveniet. Expedita labore corrupti consectetur, illum consequuntur, tempore a cum.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, molestiae.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium voluptas, hic quisquam inventore facilis recusandae, architecto blanditiis cupiditate molestiae earum perferendis, consequuntur possimus excepturi, iure ratione quia? Minus, facere.</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase5">
    <div class="description">
      <h3>Feedback</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, obcaecati commodi repellat, inventore culpa unde error est sequi repudiandae quos velit vero tempore voluptas mollitia nulla ea itaque placeat natus.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, officia?</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum delectus veritatis iusto at et, accusantium nesciunt aliquam. Dolor et alias laborum doloribus fuga commodi, molestiae quis expedita, adipisci, fugiat quos!</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase6">
    <div class="description">
      <h3>Modules</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit consectetur deleniti, sed cupiditate, et debitis necessitatibus suscipit dolor perspiciatis quos enim repudiandae in, ullam tempora sunt porro ex quis inventore?</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, perspiciatis.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nobis accusantium deserunt veritatis natus numquam praesentium consectetur, at asperiores, ipsam voluptates expedita in, fuga perspiciatis necessitatibus odit corporis sequi quaerat!</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase7">
    <div class="description">
      <h3>Feedback</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sit soluta assumenda repellat amet sequi sapiente dolore facilis recusandae consequuntur cum at eveniet dolorum perspiciatis deleniti placeat, earum cupiditate deserunt.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, magnam.</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fugiat corrupti tenetur obcaecati numquam doloremque ea minima et nobis reprehenderit, placeat excepturi provident officia quod mollitia maxime qui sint commodi!</p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="phase8">
    <div class="description">
      <h3>Design Overseeing</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quo optio nisi molestiae blanditiis ipsa placeat sequi eligendi dolores voluptate inventore suscipit, obcaecati, architecto corporis et, dolore. Repellendus, nisi.</p>
      </div>
    </div>
    <div class="description">
      <h4>Goals</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, aliquam!</p>
    </div>
    <div class="description">
      <h4>Deliverables</h4>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nihil vitae saepe cupiditate alias unde amet rerum deleniti culpa aliquid, nobis explicabo voluptatibus similique ratione omnis, modi iusto, commodi impedit.</p>
      </div>
    </div>
  </div>
</div>

</div>