<div class="method">
  <div class="diagram">
    <div class="phase open framing">
      <a href="#phase-0" data-toggle="tab" class="simple">
        {{> phase-framing}}
      </a>
    </div>
    <div class="phase open research">
      <a href="#phase-1" data-toggle="tab" class="simple">
        {{> phase-research}}
      </a>
    </div>
    <div class="phase open ideation">
      <div class="arrow simple"></div>
      <div class="arrow curve"></div>
      <div class="arrow feedback"></div>
      <a href="#phase-2" data-toggle="tab" class="simple">
        {{> phase-ideation}}
      </a>
      <a href="#phase-3" data-toggle="tab" class="feedback">
        {{> phase-feedback}}
      </a>

    </div>
    <div class="phase open review feedback flow">
      <div class="arrow simple"></div>
      <div class="arrow curve"></div>
      <div class="arrow feedback"></div>
      <a href="#phase-4" data-toggle="tab" class="simple">
        {{> phase-flow}}
      </a>
      <a href="#phase-5" data-toggle="tab" class="feedback">
        {{> phase-feedback}}
      </a>
    </div>
    <div class="phase open review feedback module">
      <div class="arrow simple"></div>
      <div class="arrow curve"></div>
      <div class="arrow feedback"></div>
      <a href="#phase-6" data-toggle="tab" class="simple">
        {{> phase-modules}}
      </a>
      <a href="#phase-7" data-toggle="tab" class="feedback">
        {{> phase-feedback}}
      </a>
    </div>
    <div class="phase open review feedback scope">
      <div class="arrow simple"></div>
      <a class="feedback" href="#phase-8" data-toggle="tab" class="simple">
        {{> phase-scope}}
      </a>
    </div>
  </div>

{{> phase-description}}

</div>