<div id="subscribe" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subscribeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="subscribeLabel">Join our Newsletter</h4>
      </div>
      <div class="modal-body">
        <form action="https://tinyletter.com/designscope" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/designscope', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <h4>Join our newsletter</h4>
          <div class="btn-group">
            <input type="text" name="email" id="tlemail" placeholder="email" />
            <input type="hidden" value="1" name="embed"/>
            <button class="btn" type="submit"><i class="fa fa-check-circle"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
