.btn-group {
  display: grid;
  grid-template-columns: 80% 20%;
  .btn:not(.dropdown-toggle) {
    text-align: left;
  }
  .dropdown-toggle i.fa {
padding-top: $gap;
  }
}
.btn-group, .btn {
font-weight: bold;

  text-transform: uppercase;
}

.btn {
  padding: $gap2;
@extend %card;
@extend %btn;
}

.dropdown-menu {
  @extend %card;
  width: 100%;
  background-color: $c-secondary;
  p {
    margin: 0;
    padding: $gap2;
  }
  a {
    @extend %btn;
    line-height: 110%;
    padding: $gap $gap2;
    display: block;
    &:first-of-type {
margin-top: $gap2;
    border-top: dashed 1px$c-bg;
    }
    &:hover {
      text-decoration: none;
      }
    }
}

.disabled {
  @include disable(link);
  color:$c-bg !important;
}