%border {
    margin-bottom: $gap4;
  background-color: #fff;
  padding: $gap2 $gap3;
  border-right: solid 2px $c-secondary;
}

%card {

  border: none;
  @include radius($radius);
  @include shadow(box, 0 $radius 0 rgba(0, 0, 0, 0.05));
  @include transition;
    &:hover {
  @include shadow(box, 0 5px 0 rgba(0, 0, 0, 0.07));
  }
}

%btn {
      background-color: $c-secondary;
  color: $c-primary;
    &:hover {
background-color: lighten($c-secondary, 5%) !important;
  color: black;
  }
}