@include font-face(fontawesome-webfont);
@include font-face(Univers-light-normal);
@include font-face(rakesly);
@include font-face(Univers-light-normal, UniversLTStd, bold);

@mixin grid($duration: $animation-duration, $function: $animation-function, $delay: $animation-delay, $count: $animation-count, $fill: $animation-fill, $visibility: $animation-visibility) {
  @include animation(grid $duration $function $delay $count $fill);
  @include visibility($visibility);
  @at-root {
    @include keyframes(grid) {
      0% {
       background-color: #fff;
     }
   }
 }
}

a.next {
 font-size: $fs3;
 text-align: right;
 display: block;
 &:before {
  content: "Next: "
}
&, &:hover {
  text-decoration: underline;
}
}

body {
  background-image: url(../images/pattern/grid--inverted.svg);
  @include grid($duration: 2s);
  background-color: $c-secondary;
  @include transition;
  background-attachment: fixed;
  font-family: $font-text;
  border: solid $gap6 $c-bg;
  font-size: $fs4;
  color: $c-primary;
  &:before, &:after {
    content: "";
    display: block;
    height: $gap4;
    width: 100%;
    @include tile(lines-up-c, $c-bg, 6px);
    position: fixed;
    z-index: 1000;
    left: 0;

  }
  @media screen and (max-width: $bp) {
   border: solid $gap4 $c-bg;
   &:before, &:after {
    height: $gap4;
  }
}
&:before {
  top: 0;
}
&:after {
  bottom: 0;
}
}

h1, h2, h3, h4, h5, h6, b {
  font-family: $font-title;
  text-transform: uppercase;
}


a {
  color: $c-primary;
  cursor: pointer;
  i.fa {
    padding-right: $gap;
  }
  &:hover {
    text-decoration: none;
  }
  @include transition;
  &:not(.btn) {

    &:hover {
      text-decoration: underline;
    }
  }
}


.cue {

  @media screen and (min-width: $bp) {
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: center;
 }
 p {
  font-size: $fs3;
  color: $c-primary;
  margin: 0;
  line-height: 110%;
  z-index: 100;
  font-family: $font-text;
  text-transform: none;
  @media screen and (max-width: $bp) {
    margin-top: $gap;
  }
}
}

h1 {
  font-size: $fs13;
}
h2 {
  font-size: $fs11;
}
h3 {
  font-size: $fs8;
}
h4 {
  font-size: $fs6;
}
a.logo {
  .intro:not(.post) & {
    font-size: $fs13;
    background-image: url(../images/icon/logo.svg);
    background-repeat: no-repeat;
    margin: $gap4 0;
    margin-left: ($gap9 * -1);
    background-size: $gap10 $gap10;
    padding: 0 $gap2 0 $gap12;
    &:hover {
      margin-left: ($gap10 * -1);
      padding-left: $gap13;
    }
  }
  .intro.post & {
    font-size: $fs6;
  }
  font-family: $font-title;
  text-transform: uppercase;
  background-color: #fff;
  line-height: 100%;
  background-position: left center;
  display: inline-block;
  border: none;

  span {
    font-size: $fs8;
    display: block;
    line-height: 100%;
  }
  &.exocortex {
    background-image: url(../images/icon/exocortex.svg);
  }
  &.exocortex, &.object {
    background-position: left bottom;
    margin-bottom: 0;
  }
}


.content header, .method {
  @include border;
}
footer.footer {
  @include border;
  margin-bottom: 0;
  margin-top: $gap4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $gap2;
}
.intro.post {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: top;
  margin-top: $gap4;
  @include border;
  padding: $gap2;
  align-items: top;
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }


}
form.subscribe .btn-group {
  input#tlemail {
    @extend %card;
    display: inline-block;
    border: solid 1px #ccc;
    border-right: 0;
    padding: ($gap2 + 4) $gap2;
    @include placeholder {
      color: $c-secondary;
    }
    font-weight: normal;
    @include radius($radius, 0, 0, $radius, irregular);
  }

  button.btn {
    text-align: center;
    i {
      font-size: $fs5;
    }
  }

}
section:not(.intro) > {
  p, ul, ol {
    @include border;
  }
  h1, h2, h3, h4 {
   @include border;
 }
}
.projects, .members {
 @media screen and (min-width: $bp) {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 }
 .project, .member {
  @include border;
  margin-bottom: 0;
  & > .title {
    margin-top: 0;
  }


}



.member {
  h3, h4 {
   margin: 0;
   padding: 0;

   padding-bottom: $gap2;
 }
 .title {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: $gap2;


}
a {
 display: block;
}

}


.project {
  &:before {
    content:  "";
    height: $gap12;
    display: block;
    margin-bottom: $gap2;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:first-of-type:before {
    background-image: url(../images/icon/exocortex.svg);
  }
  &:nth-of-type(2):before {
    background-image: url(../images/icon/object.svg);
  }
  &:last-of-type:before {
    background-image: url(../images/icon/grading.svg);
  }
}
}




article.main {
  width: $container;
  margin: 0 auto;
  @include fadeInUp($duration: 1s, $delay: $animation-delay);
  @include transition;
  @media screen and (max-width: $bp) {
    width: 100%;
    padding: 0 $gap4;

  }
}

.links a {
  font-size: $fs3;
  display: block;
  section.intro & {

  margin-left: $gap9;
  }
  &:hover {
    text-decoration: underline;
  }
}

// .content > ul {
//   @include reset(all);
//   @include reset(list);
// li {

// }
// }


.content table {
  counter-reset: my-awesome-counter;
  td {
    counter-increment: my-awesome-counter;
    vertical-align: top;
    @include border;
    width: (100% / 3);
    &:before {
  content: counter(my-awesome-counter);
  background-color: $c-primary;
  color: white;
  font-family: $font-title;
  width: $gap4;
  height: $gap4;
  text-align: center;
  @include radius(50%);
  padding-top: 1px;
  display: inline-block;
}
  }
  strong {
    @extend h4;
    display: block;
  }
}


.author {
  font-size: $fs3;
  margin-bottom: 0;
  .description i.fa {
    float: right;
    padding-right: $gap2;
    margin-top: ($gap2 * -1);
  }
  .collapse-trigger {
   display: grid;
   grid-template-columns: $gap9 1fr;
   align-items: center;
   &, &:hover {
    text-decoration: none;
  }


}


}

.tags {
  font-size: $fs3;
  a {
    margin-left: $gap;
    &:not(:first-of-type) {

      padding-left: $gap;
      border-left: solid 1px $c-secondary;
    }
  }
}
.avatar {

  background-size: contain;
  @include radius(50%);
  height: $gap8;
  width: $gap8;
}
