$phase: ($container * .085);
$method: ($phase * 2.75);
$title: -60px;
$arrow: $gap4;
$curve: ($method - ($arrow * 2));
$feedback: ($phase * .7);
$framing: ((($method - $phase) / 2) - 15);



.tab-pane {
  padding-top: $gap2;
  .description {
      @media screen and (min-width: $bp) {
display: grid;
    grid-template-columns: 1fr 3fr;
    h1, h2, h3, h4 {
      margin: 0;
    }
  }


  }
}

.diagram {
 display: grid;
 grid-template-columns: ($phase * 0.7) $phase repeat(3, $method) 1fr;

 .phase {
   height: $method;
   background: none;
   .arrow {
    background-color: $c-arrow;
    background-repeat: no-repeat;
    &.curve, &.feedback {
      height: ($curve / 2);
      width: $curve;
      position: absolute;
      background-size: ($curve + 2);
      background-position: -1px 0;
      margin-left: ($arrow + $gap2);
      z-index: 0;
    }
    &.curve {
      background-image: url(../images/arrow-curve.svg);
      margin-top: $gap4;
    }
    &.feedback {
      background-image: url(../images/arrow-feedback.svg);
      margin-top: (($curve - $gap6));
    }
    &.simple {
      margin-top: (($method - $phase) / 2);
      background-image: url(../images/arrow.svg);
      background-size:  $gap16 $gap16;
      background-position: right center;
      height: $phase;
      float: left;
      width: $arrow;
    }
  }
  a {
    background-color: $c-phase;
    position: absolute;
    z-index: 5;
    background-color: $c-phase;
    @include transition;
    border: solid 1px white;
                 svg * {
  stroke: $c-secondary;
}
   &.simple {
    height: $phase;
    width: $phase;
    @include radius($radius);
    margin-top: (($method - $phase) / 2);
    svg {
  height: $gap7;
  padding-top: $gap2;
}
  }
  &.feedback {
    margin-top: $gap7;
    height: $feedback;
    width: $feedback;
    @include radius(50%);
    margin-top: (($method - $feedback) / 2);
    margin-left: ($method - $feedback - $arrow);
    svg {
  height: $gap5;
  padding-top: $gap;
}
  }
}
&.framing a {
  z-index: 10;
  margin-top: $framing;
}
&.scope a {
  margin-left: 0;
}
a:hover {
     @include scale(1.15);
   }
}
}

.phase {
a:before {
    font-size: $fs2;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  transform: rotate(-45deg) translate(0, 30px);
    display: block;
    position: absolute;
    color: $c-secondary;
    @include transition;

}
&.open a:before {
  color: $c-primary;
margin-top: $title;
}
    &.framing a:before {
      content: 'framing';
      margin-top: $title +( $framing / 2);
    }
    &.research a:before {
      content: 'research';
    }
    &.ideation {
      a.simple:before {
      content: 'ideation';
    }
    a.feedback:before {
      content: 'feedback';
    }
    }
    &.flow {
      a.simple:before {
      content: 'flows';
    }
    a.feedback:before {
      content: 'feedback';
    }
    }
        &.module {
      a.simple:before {
      content: 'modules';
    }
    a.feedback:before {
      content: 'feedback';
    }
    }
    &.scope a:before {
      content: 'scope';
    }

}


@mixin open-phase($duration: $animation-duration, $function: $animation-function, $delay: $animation-delay, $count: $animation-count, $fill: $animation-fill, $visibility: $animation-visibility) {
  @include animation(open-phase $duration $function $delay $count $fill);
  @include visibility($visibility);
  @at-root {
    @include keyframes(open-phase) {
      100% {
       background-color: $c-phase-open;
     }
   }
 }
}
@mixin open-icon($duration: $animation-duration, $function: $animation-function, $delay: $animation-delay, $count: $animation-count, $fill: $animation-fill, $visibility: $animation-visibility) {
  @include animation(open-icon $duration $function $delay $count $fill);
  @include visibility($visibility);
  @at-root {
    @include keyframes(open-icon) {
      100% {
       stroke: $c-primary;
     }
   }
 }
}

@mixin open-arrow($duration: $animation-duration, $function: $animation-function, $delay: $animation-delay, $count: $animation-count, $fill: $animation-fill, $visibility: $animation-visibility) {
  @include animation(open-arrow $duration $function $delay $count $fill);
  @include visibility($visibility);
  @at-root {
    @include keyframes(open-arrow) {
      100% {
       background-color: $c-arrow-open;
     }
   }
 }
}
.phases .cue p {
    @include fadeIn($delay: ($animation-delay * 2));
  }
.phase {

  &.open {
      .arrow {
        &.simple, &.curve, &.feedback {
          @include open-arrow($delay: ($animation-delay * 3));
        }
      }
      a {
        text-align: center;
        vertical-align: center;
        i.fa {
          color: $c-primary;
          font-size: $fs6;
        }
              svg * {
  @include open-icon($delay: ($animation-delay * 3));
}

        &.simple,  &.feedback {
          @include open-phase($delay: ($animation-delay * 3));

        }
      }
    }
}

